<div *ngIf="temp">
  <form class="form" #questionForm="ngForm">
      <h1 class="header">Questions</h1><br>
      <h3>{{this.createProjectData.listOfQuestions[0].question}}</h3>
      <div class="editor">
          <app-ngx-editor minHeight="50px" [config]="editorConfig" placeholder="Type your Answer" [(ngModel)]="data.ans1" name="ans1" #ans1="ngModel" [ngModelOptions]="{standalone : true}"></app-ngx-editor>
      </div>

      <h3>{{this.createProjectData.listOfQuestions[1].question}}</h3>
      <div class="editor">
          <app-ngx-editor minHeight="50px" [config]="editorConfig" placeholder="Type your Answer" [(ngModel)]="data.ans2" [ngModelOptions]="{standalone : true}" name="ans2" #ans2="ngModel"></app-ngx-editor>
      </div>
  
      <h3>{{this.createProjectData.listOfQuestions[2].question}}</h3>
      <div class="editor">
          <app-ngx-editor minHeight="50px" [config]="editorConfig" placeholder="Type your Answer" [(ngModel)]="data.ans3" [ngModelOptions]="{standalone : true}" name="ans3" #ans3="ngModel"></app-ngx-editor>
      </div>
  
      <h3>{{this.createProjectData.listOfQuestions[3].question}}</h3>
      <div class="editor">
          <app-ngx-editor minHeight="50px" [config]="editorConfig" placeholder="Type your Answer" [(ngModel)]="data.ans4" [ngModelOptions]="{standalone : true}" name="ans4" #ans4="ngModel"></app-ngx-editor>
      </div>    
  </form>
  <br>
  <div class="button">
      <button mat-raised-button color="primary" (click)="submit(data)">Submit</button><br>
  </div>
</div>
    
  
