<div class="header">
  <h2>Employee Details</h2>
</div>
<div class="content" >
<h4>{{'Name'}}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{employeeDetailsData.actor.displayName}}</p>
  <h4>{{'EmailId'}}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{employeeDetailsData.actor.email}}</p>
  <h4>{{'Applied On'}}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{employeeDetailsData.appliedOn|date:'MM- d- y h:mm:ss z'}}</p>
  
  <div *ngFor= "let employeeDetailsData of employeeDetailsData.questionAndAnswers">


  <h4>{{'Question'}}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{employeeDetailsData.question}}</p>
  <h4>{{'Answer'}}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{employeeDetailsData.answer}}</p>
</div>
<div>
    <button style="margin-left: 5px" mat-raised-button color="primary"  (click)="submit(employeeDetailsData)" (click)="select()">Select</button>

    <button style="margin-left: 5px" mat-raised-button color="accent" (click)="reject()" >Reject</button>  
</div>
  </div>



