<div fxLayout='row' fxLayoutAlign='space-around center' style="background-color:lightgray">
</div>
<div class="container">
  <form #userForm = 'ngForm' (ngSubmit)="registerDetails(registerData)" fxLayout='column' fxLayoutAlign='space-around center'>
      <h1>Register</h1>
    <mat-form-field class="form-group">
      <input matInput type="text" name="firstName" pattern="[a-zA-Z]*" required placeholder="firstName" [(ngModel)]="registerData.firstName" [ngModelOptions]="{standalone: true}" #firstName='ngModel' class="form-control" [class.is-invalid]="firstName.invalid && firstName.touched">
    </mat-form-field>
    <mat-form-field class="form-group">
        <input matInput type="text" name="lastName" pattern="[a-zA-Z]*" required placeholder="lastName" [(ngModel)]="registerData.lastName" [ngModelOptions]="{standalone: true}" #lastName='ngModel' class="form-control" [class.is-invalid]="lastName.invalid && lastName.touched">
      </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput type="email" name="email" pattern="[a-z0-9.]*@gmail.com" required placeholder="email" [(ngModel)]="registerData.email" #email='ngModel' class="form-control" [class.is-invalid]="email.invalid && email.touched">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="password" pattern="[a-z]*[0-9]*" required placeholder="password" [(ngModel)]="registerData.password" #password='ngModel' class="form-control" [class.is-invalid]="password.invalid && password.touched">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!userForm.valid">submit</button>
    <p>Already have account? - <button mat-button routerLink="/login">Login</button></p>
  </form>
</div>
