<div fxLayout='column'  *ngIf="!emptyFlag" fxLayoutAlign='space-around center'><br>
    <h3 style="text-align: center">Notifications</h3>
    <mat-card class="matCard" *ngFor="let data of this.notifications">
        <span fxFlex="50%">Hi {{data.targetData.displayName}},<br> {{data.notificationData.message}}</span>
        <span fxFlex="30%"></span>
        <button fxFlex="10%" mat-button title="view More" (click)="viewNotificationDetails(data.notificationData, data.targetData._id)">
            <mat-icon>info</mat-icon>
        </button>
        <button fxFlex="10%" mat-button title="Delete" (click)="deleteNotification(data._id)">
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-card>
</div>
<div fxLayout="column"fxLayoutAlign="space-around center" *ngIf="emptyFlag">
    <span class="span"></span>
        <mat-card class="matCard">
            <p class="paragraph">Hi <b>{{LoggedUser}}</b>, No Notifications For You<br><br>You might get <br><br>stay connected!</p>
        </mat-card>    
</div>
<div *ngIf="!emptyFlag">
    <span fxFlex="10%"></span>
    <mat-form-field fxFlex="10%">
    <mat-select placeholder="Choose size" [(ngModel)]="pageSize">
        <mat-option *ngFor="let size of sizes" [value]="size.value">{{size.viewValue}}</mat-option>
    </mat-select>
</mat-form-field>
<span fxFlex="50%"></span>
<pagination-controls fxFlex="20%" (pageChange)="p = $event"></pagination-controls>
</div>
