<mat-toolbar color="gray">
     
  <button  style="float:right; display:block; margin-left:1170px; clear:left;" mat-fab (click)="add" [routerLink]="['/create-project']" ><mat-icon >add</mat-icon></button>
</mat-toolbar> 
<h3 style="text-align: center">Project List</h3>
 <div style="text-align:center">
<table datatable class="table row-border hover" *ngIf="this.flag">
        <thead>
          <tr>

           <th>{{'Title'}}</th>
            <th>{{'Status'}}</th>
            <th>{{'CreatedBy'}}</th>
            <th>{{'CreatedOn'}}</th>
            <th>{{'Actions'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of this.taskData">
          
            <td class="a">{{data.title}}</td>
            <td>{{data.status}}</td>
            <td>{{data.actor.name}}</td>
            <td>{{data.createdOn |date:'MM- d- y h:mm:ss z'}}</td>
            
            <td>
                <button mat-raised-button [routerLink]="['/view-projects', data._id]" class="btn btn-primary"><mat-icon>visibility</mat-icon></button>
                <button mat-raised-button [routerLink]="['/edit-project', data._id]" class="btn btn-primary"><mat-icon>edit</mat-icon></button>
                <button mat-raised-button (click)="deleteProjectDetails(data._id)"><mat-icon>delete</mat-icon></button> 
            
                </td>
          </tr>
        </tbody>
      </table>
    </div> 



    





  