<div class="container">
  <div class="image">
    <img class="imageTag" src="../../../assets/image/bg.png" alt="img">
    <div class="text">
      <b class="bold">Share Your Talent, Get Rewards</b><br>
      Select Employee depends upon their Talent<br> and then Reward Project
    </div>
    <div class="search">
      <input type="text" id="search-box" placeholder="Search Projects" [formControl]="searchCtrl">
      <mat-icon class="search-btn">search</mat-icon>
    </div>
    <div class="sponsor-divider">
      <div class="sponsor-heading">
        Trusted by<br>experts at:
      </div>
      <div class="sponsor">
        <div class="sponsor-names">
          accenture
        </div>
      </div>
      <div class="sponsor">
        <div class="sponsor-names">
          IBM
        </div>
      </div>
      <div class="sponsor">
        <div class="sponsor-names">
          <i>KPMG</i>
        </div>
      </div>
      <div class="sponsor">
        <div class="sponsor-names">
          vodafone
        </div>
      </div>
    </div>
  </div><br>
  <div class="containerDivider">
    <mat-grid-list cols="2" rowHeight="1:1">
        <p class="para">Who is <b>Talent Share</b> for</p>
      <mat-grid-tile>
        <div class="reg mat-elevation-z8">
          <div class="head">
              <h3>Project Owner</h3>
          </div>
          <div class="body">
              <p>&#10004; Create A New Project</p><br>
              <p>&#10004; Edit Your Project Details</p><br>
              <p>&#10004; View List of Applied Employee Details</p><br>
              <p>&#10004; Allowed Permission to Select or Reject employee</p><br>
              <p>&#10004; Allowed Permission to Remove Project</p><br>
              <p>&#10004; Allowed Permission to Change Employee Role</p><br>
          </div>
          <div class="action"><br>
            <button mat-raised-button color="primary" routerLink="/register">SIGN UP</button>
            <br>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="reg mat-elevation-z8">
          <div class="head">
              <h3>Volunteer</h3>
          </div>
          <div class="body">
              <p>&#10004; View Project Details</p><br>
              <p>&#10004; Answer the Questions/Share Your Talent</p><br>
              <p>&#10004; Get Reward of Project</p><br>
          </div>
          <div class="action"><br>
            <button mat-raised-button color="primary" routerLink="/register">SIGN UP</button>
            <br>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div><br>
  <div class="span"></div>
  <div class="bottom">
    <div class="contact">
      <h3 class="contact-heading">Contact Us</h3>
      <p class="contact-paragraph">Get in touch and send us your requests, feedback, suggestions,
        complaints or anything else you wish to tell us.<br> If you leave your email address, 
        we will respond as soon as possible</p>
        <form class="form" #contactForm="ngForm" (ngSubmit)="submit(data)">
          <mat-form-field class="form-group">
            <input matInput placeholder="Your Name" [(ngModel)]="data.name" required name="name" 
            #name="ngModel" class="form-control">
          </mat-form-field>
          <mat-form-field class="form-group">
            <input matInput placeholder="Your Email" [(ngModel)]="data.email" required name="email"
            #email="ngModel" class="form-control">
          </mat-form-field><br>
          <mat-form-field class="form-group subject">
            <input matInput placeholder="Subject" [(ngModel)]="data.subject" required name="subject" 
            #subject="ngModel" class="form-control">
          </mat-form-field><br>
          <mat-form-field class="form-group message">
            <textarea type="text" matInput placeholder="Message" [(ngModel)]="data.message" required name="message"
            #message="ngModel" class="form-control"></textarea>
          </mat-form-field><br>
          <button mat-raised-button color="primary">Submit</button>
        </form>
    </div><br>
    <div class="span"></div>
    <div class="bottom-menu">
      <div class="divider">
        <div class="bottom-heading">
          TOOLS
        </div>
        <div class="bottom-text">
            <p><a class="link">Lorem Ipsum</a></p>
            <p><a class="link">Professional Lorem Generator</a></p>
        </div>
      </div>
      <div class="divider">
        <div class="bottom-heading">
          DEVELOPERS
        </div>
        <div class="bottom-text">
            <p><a class="link" href="">API Reference</a></p>
        </div>
      </div>
      <div class="divider">
          <div class="bottom-heading">
            SUPPORT
          </div>
          <div class="bottom-text">
              <p><a class="link" href="">Blog</a></p>
              <p><a class="link" href="">FAQ</a></p>
          </div>
      </div>
      <div class="divider">
          <div class="bottom-heading">
            LEGAL
          </div>
          <div class="bottom-text">
            <p><a class="link" href="">Teams and Conditions</a></p>
            <p><a class="link" href="">Privacy policy</a></p>
          </div>
      </div>
      <div class="divider">
          <div class="bottom-heading">
            COMPANY
          </div>
          <div class="bottom-text">
              <p><a class="link" href="">About</a></p>
              <p><a class="link" href="">Team</a></p>
              <p><a class="link" href="">Jobs</a></p>
              <p><a class="link" href="">Contact</a></p>
          </div>
      </div>
    </div>
  </div>
</div>