.image{
    width: 100%;
    position: relative;
}
.imageTag{
    width: 100%;
    display: block;
}
.bold{
    font-size: 55px;
    color: white;
}
.text{
    text-align: center;
    position: absolute;
    opacity: 1;
    left: 0%;
    right: 0%;
    top: 120px;
    color: lightgray;
    font-size: 25px;
    bottom: 0%;
    cursor: pointer;
    width: 100%;
}
.search{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 300px;
    bottom: 0%;
    display: block;
    width: 80%;
}
#search-box{
    width: 80%;
    height: 5%;
}
.search-btn{
    position: absolute;
    top: 5px;
    left: 78%;
    right: 30%;
    height: 9%;
    opacity: 1;
    padding-bottom: 38px;
}
.sponsor-divider{
    position: absolute;
    left: 40px;
    right: 0%;
    top: 400px;
    bottom: 0%;
    color: white;
    height: 200px;
    display: flex;
    flex-direction: row;
}
.sponsor{
    padding-left: 30px;
    margin: 5%;
    font-size: 36px;
}
.sponsor-heading{
    padding-left: 60px;
    margin: 5%;
}
.reg{
    border: 2px solid lightgray;
    width: 80%;
    height: 80%;
    padding-top: 20px;
}
.reg:hover{
    top: -10px;
    position: relative;
    cursor: pointer;
}
.para{
    font-size: 40px;
    text-align: center;
}
.head{
    text-align: center;
    height: 10%;
    font-size: 20px;
}
.body{
    padding-left: 30px;
    height: 70%;
    font-size: 17px;
}
.action{
    text-align: center;
    height: 10%;
}
.span{
    height: 100px;
}
.bottom{
    height: 100%;
}
.contact{
    text-align: center;
}
.contact-heading{
    font-size: 40px;
}
.contact-paragraph{
    color: gray;
}
.form-group{
    margin: 20px;
    width: 25%;
}
.subject, .message{
    width: 52%;
}
.bottom-menu{
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: row;
}
.bottom-heading{
    font-size: 25px;
    color: white;
}
.bottom-text{
    padding-top: 25px;
}
.link{
    color: gray;
    text-decoration: none;
}
.link:hover{
    color: white;
}
.divider{
    margin: 5%;
}