
<div fxLayout='row' fxLayoutAlign='space-around center'>

 
  <form #loginForm="ngForm" fxLayout='column' fxLayoutAlign='space-around center'>
  
    <h3 style="text-align: center">Create Project</h3>

  <mat-form-field class="form-group">
    <input type="text" matInput placeholder="Title" [(ngModel)]="createProjectData.title" name="title" #title="ngModel" required class="form-control" [class.is-invalid]="title.invalid && title.touched">
  </mat-form-field>
   <mat-form-field class="form-group">
    <input type="text" matInput placeholder="Project Over All Cost &#8377;" required [(ngModel)]="createProjectData.projectOverAllCost"  name="Projectoverallcost" #projectoverallcost="ngModel" class="form-control" [class.is-invalid]="projectoverallcost.invalid && projectoverallcost.touched">
  </mat-form-field>

   <mat-form-field class="form-group">
        <input type="text" matInput [matDatepicker]="picker" placeholder="Project Final Delivery" name='Projectfinaldelivery' required [(ngModel)]="createProjectData.projectFinalDelivery"  #projectfinaldelivery="ngModel"  class="form-control" [class.is-invalid]="projectfinaldelivery.invalid && projectfinaldelivery.touched">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field><br>
      <div class="editor">
        <app-ngx-editor minHeight="50px" placeholder="Question1" [config]="editorConfig" 
          [(ngModel)]="questions.question1" name="question1"
          #question1="ngModel" class="form-control"></app-ngx-editor>
      </div><br>
      <div class="editor">
        <app-ngx-editor minHeight="50px" placeholder="Question2" [config]="editorConfig" 
          [(ngModel)]="questions.question2" name="question2"
          #question2="ngModel" class="form-control"></app-ngx-editor>
      </div><br>
      <div class="editor">
        <app-ngx-editor minHeight="50px" placeholder="Question3" [config]="editorConfig" 
          [(ngModel)]="questions.question3" name="question3"
          #question3="ngModel" class="form-control"></app-ngx-editor>
      </div><br>
      <div class="editor">
        <app-ngx-editor minHeight="50px" placeholder="Question4" [config]="editorConfig" 
          [(ngModel)]="questions.question4" name="question4"
          #question4="ngModel" class="form-control"></app-ngx-editor>
      </div><br>

     <div class="editor">
      <app-ngx-editor name='Required Tools' [config]="editorConfig" placeholder="Required Tools" [(ngModel)]="createProjectData.requiredTools"></app-ngx-editor><br>
     </div>
     
     <div class="editor1">
      <app-ngx-editor name='Description' [config]="editorConfig" placeholder="Description" [(ngModel)]="createProjectData.description"></app-ngx-editor><br>
     </div> 
     
<div>
    <button mat-raised-button color="primary"  (click)="submit(createProjectData)">Create</button>

    <button mat-raised-button color="accent" style="float:right; display:block; margin-left:15px; clear:left;" >Cancel</button>  
</div>

  </form>
</div>

