<mat-toolbar color="gray">
</mat-toolbar> 
<h3 style="text-align: center">Project List</h3>
 <div style="text-align:center">
<table datatable class="table row-border hover" *ngIf="this.flag">
        <thead>
          <tr>

           <th>{{'Employee Name'}}</th>
            <th>{{'Employee Email Id'}}</th>
            <th>{{'Status'}}</th>
            <th>{{'Created On'}}</th>
            <th>{{'Action'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of this.projectListData">
          
            <td class="a">{{data.actor.name}}</td>
            <td>{{data.actor.email}}</td>
            <td>{{data.status}}</td>
            <td>{{data.createdOn |date:'MM- d- y h:mm:ss z'}}</td>
            
            <td>
                <button mat-raised-button [routerLink]="['/employee', data._id]" class="btn btn-primary"><mat-icon>visibility</mat-icon></button>
               
            
                </td>
          </tr>
        </tbody>
      </table>
    </div> 

