<div class="header">
  <h2>Project details</h2>
</div>
<div class="content"  *ngFor="let employeeData of this.employeeData">
<h4>{{'Title'}}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{employeeData.title}}</p>
  <h4>{{'Description'}}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{employeeData.description}}</p>
  <h4>{{'Required Tools For Project'}}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{employeeData.requiredTools}}</p>
  <h4>{{'project Over All Cost  &#8377;' }}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{employeeData.projectOverAllCost}}</p>
  <h4>{{'Project Final Delivery'}}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{employeeData.projectFinalDelivery}}</p>
  <h4>{{'Created On'}}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{employeeData.createdOn|date:'MM-d-y h:mm:ss z'}}</p>
<button mat-raised-button style="float:left; display:block; margin-left:387px; clear:left;" [routerLink]="['/answers']"color="primary"  (click)="applyApplication(data_id)">Apply</button>
<!-- <button mat-raised-button [routerLink]="['/view-article', data._id]" class="btn btn-primary"><mat-icon>visibility</mat-icon></button> -->
<!-- <div class="noData" *ngIf="this.noData"> -->


  </div>





  