<div>
    <mat-toolbar class="toolbar mat-elevation-z8">
        <span class="span"></span>
        <button mat-button routerLink="/home">Home</button>
        <button  mat-button routerLink="/admin">Admin</button>
        <button  mat-button routerLink="/project-list">Project List</button>
        <button *ngIf="flag" mat-button routerLink="/login">Login</button>
        <button mat-button title="profile" (click)="profile()" style="float:left; display:block; margin-left:25px; clear:left;" 
            [mdePopoverTriggerFor]="appPopover"
            mdePopoverTriggerOn="click">profile          
        </button>  
<mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card style="max-width: 300px">
    <mat-card-content>
         <!-- <p>
          <b>User Name : </b> {{this.emailResponses.firstName}} {{this.emailResponses.lastName}} <br><br>
          <b>Email ID : </b> {{this.emailResponses.email}}
      </p>  -->
       <button mat-button (click)="logout()">Logout</button>
    
    </mat-card-content>
  </mat-card>
</mde-popover>
<button mat-button title="notifications" routerLink="/notification" [matBadge]="count" matBadgeColor="accent" >Notification</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div> 
  