.toolbar{
  background: var(--vert-gradient-primary-fallback);
  background: var(--vert-gradient-primary);
  position: relative;
  width: 100%;
  z-index: 100;
}
.logo {
  width: 40px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: #000;
  cursor: pointer;
}
.span{
  width: 85%;
}
.matCardContent{
  text-align: center;
}