<div class="header">
  <h3>View Project </h3>
</div>
<div class="content">
<h4>{{'Title'}}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{viewProjectData.title}}</p>
  <h4>{{'Description'}}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{viewProjectData.description}}</p>
  <h4>{{'Required Tools For Project'}}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{viewProjectData.requiredTools}}</p>
  <h4>{{'project Over All Cost &#8377;'}}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{viewProjectData.projectOverAllCost}}</p>
  <h4>{{'Project Final Delivery'}}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{viewProjectData.projectFinalDelivery}}</p>
  <h4>{{'Created On'}}</h4>
  <p style="display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 23px;
  margin-inline-end: 0px;">{{viewProjectData.createdOn|date:'MM- d- y h:mm:ss z'}}</p>
  <div>
    <button mat-raised-button style="float:left; display:block; margin-left:387px; clear:left;" color="primary"  [routerLink]="['/users-list']" (click)="submit(viewProjectData)" >Applied User</button>

   
</div> 
  </div>


