<div fxLayout='row' fxLayoutAlign='space-around center' style="background-color:lightgray">
</div>
<form #loginForm="ngForm" fxLayout='column' fxLayoutAlign='space-around center'>
<h1> LOGIN </h1>
<mat-form-field class="form-group">
  <input type="email" matInput placeholder="Email" [(ngModel)]="loginData.email" name="email" #email="ngModel" required class="form-control" [class.is-invalid]="email.invalid && email.touched">
</mat-form-field>
<mat-form-field class="form-group">
  <input type="password" [type]="show ? 'text':'password'" matInput placeholder="password" required [(ngModel)]="loginData.password" name="password" #password="ngModel" class="form-control" [class.is-invalid]="password.invalid && password.touched">
</mat-form-field>
<button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="submit(loginData)">Login</button>
<p>New User - <button mat-button routerLink="/register">Register now</button></p>
</form>
