<h3 style="text-align:center"> List Of Applied User</h3>
 <div style="text-align:center">
    
<table datatable class="table row-border hover"  *ngIf="this.flag">
   
        <thead>
          <tr>
           <th>{{'Employee Name'}}</th>
            <th>{{'Employee Email'}}</th>
            <th>{{'Status'}}</th>
            <th>{{'AppliedOn'}}</th>
            <th>{{'Actions'}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of this.taskData">
            <td >{{data.actor.displayName}}</td>
            <td>{{data.actor.email}}</td>
            <td>{{data.status}}</td>
            <td>{{data.appliedOn |date:'MM-d-y h:mm:ss z'}}</td>
            <td>
                <button mat-raised-button [routerLink]="['/user-details', data._id]" class="btn btn-primary"><mat-icon>visibility</mat-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div> 
