<div fxLayout='row' fxLayoutAlign='space-around center'> 
  <form #loginForm="ngForm" fxLayout='column' fxLayoutAlign='space-around center'>
    <h3 style="text-align: center">Edit Project</h3>
  <mat-form-field class="form-group">
    <input type="text" matInput placeholder="Title" [(ngModel)]="ProjectData.title" name="title" #title="ngModel" required class="form-control" [class.is-invalid]="title.invalid && title.touched">
  </mat-form-field>
  <mat-form-field class="form-group">
    <input type="text" matInput placeholder="Project Over All Cost &#8377;" required [(ngModel)]="ProjectData.projectOverAllCost" name="Projectoverallcost" #projectoverallcost="ngModel" class="form-control" [class.is-invalid]="projectoverallcost.invalid && projectoverallcost.touched">
  </mat-form-field>
  <mat-form-field class="form-group">
    <input type="text" matInput  [matDatepicker]="picker" placeholder="Project Final Delivery" name='Projectfinaldelivery' required [(ngModel)]="ProjectData.projectFinalDelivery"  #projectfinaldelivery="ngModel"  class="form-control" [class.is-invalid]="projectfinaldelivery.invalid && projectfinaldelivery.touched">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>        
  </mat-form-field><br>
  <!-- <mat-form-field class="form-group"> -->
      <!-- <mat-select placeholder="status" name='status' required [(ngModel)]="projectData.status" [ngModelOptions]="{standalone : true}" #status="ngModel"  class="form-control">
          <mat-option *ngFor='let status of categories' [value]='open'>open</mat-option>
      </mat-select>
  </mat-form-field><br> -->

  <!-- <mat-form-field class="form-group">
    <mat-select placeholder="status" [(ngModel)]="projectData.status">
        <mat-option *ngFor="let size of sizes" [value]="size.value">{{size.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
       -->
  <div class="editor">
     <label class="col-md-4">Required Tools</label> 
    <app-ngx-editor name='Required Tools' [config]="editorConfig" placeholder="Required Tools" [(ngModel)]="ProjectData.requiredTools"></app-ngx-editor><br>
  </div>
   <div class="editor1">
       <label class="col-md-4">Description</label>
      <app-ngx-editor name='Description' [config]="editorConfig" placeholder="Description" [(ngModel)]="ProjectData.description"></app-ngx-editor><br>
   </div> 
<div>
    <button mat-raised-button color="primary"  (click)="updateProjectDetails(ProjectData._id,ProjectData)">update</button>
 
    <!-- <button mat-raised-button color="accent" style="float:right; display:block; margin-left:50px; clear:left;" >Cancel</button>   -->
</div>

  </form>
</div>
