@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~font-awesome/css/font-awesome.css"; */
html, body { height: 100%; }
body {
    --vert-gradient-primary: linear-gradient(to right, #367ae0, #5951c7);
    --vert-gradient-primary-reverse: linear-gradient(to bottom, #367ae0, #5951c7);
    --vert-gradient-primary-fallback: #373b44;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
